<div> <%= link_to "Back to all classes", school_classes_path %> </div>

<h3>Edit class details:</h3>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %>
  <%= f.submit %>
<% end %>
